<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form method="post" action="">
      {% csrf_token %}
      <select name="selectedcountry">
        {% for country in mylist %}
        <option>{{ country }}</option>
        {% endfor %}
      </select>
      <input type="submit" name="" />
    </form>
    <h1>{{ selectedcountry }}</h1>
    <p>new: {{ new }}</p>
    <p>active: {{ active }}</p>
    <p>critical: {{ critical }}</p>
    <p>recovered: {{ recovered }}</p>
    <p>deaths: {{ deaths }}</p>
    <p>total: {{ total }}</p>
  </body>
</html>
